<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text select</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="/js/main.js" defer></script>
  </head>
  <body>
    <h1>Text Select</h1>

    <p><b>Sender email: </b><%= question.sender_email %></p>
    <p><b>Recipient email: </b><%= question.recipient_email %></p>
    <p><b>Subject: </b><%= question.subject %></p>
    <p>
      <b>Content: </b> <br />
      <% for(let i = 0; i < question.content.length; ++i){ %>
      <span class="oneSentence" data-index="<%= i %>"><%= question.content[i] %>.</span>
      <% } %>
    </p>

    <!-- hidden form -->
    <form id="hidden_form" action="/checkAns" method="post">
        <% for(let i = 0; i < question.content.length; ++i){ %>
            <input type="checkbox" id="checkbox-<%= i %>" name="sentences" value="<%= question.content[i] %>">
            <label for="sentence-<%= i %>"><%= question.content[i] %></label><br>
        <% } %>
    </form>

    <a href="#"><%= question.link %></a>
    <br />
    <a id="checkBtn" href="#">Check Answer</a>
  </body>
</html>
